@model FrontEnd.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedBY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedBY)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
